<div class="card">
	<%= image_tag ('landing_img.jpg'), class: 'img-full-top', alt: "Binnacle News | Maritimes Finest News Source" %>
	<div class="half-height text-center">
		<h2 class="card-title">Binnacle News</h2>
		<h2>The Maritime Insudtry's Finest News Source</h2>
		<%= link_to "Learn More", root_path, class: 'btn btn-outline-primary btn-lg' %> <%= link_to "Find a Location", root_path, class: 'btn btn-outline-primary btn-lg' %>
	</div>
</div>